.exercise-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #f0f9f9; */
  padding: 40px 20px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: #e0f4f4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 128, 128, 0.2);
}

.search-bar-input {
  width: 100%;
  max-width: 600px;
  padding: 14px;
  border: 1px solid #008080;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #008080;
  outline: none;
  transition: border-color 0.3s;
}

.filters-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filters-container label {
  font-size: 16px;
  color: #008080;
  font-weight: bold;
}

.exercise-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}

.exercise-category {
  font-size: 18px;
  color: #e0f4f4;
  background-color: #008080;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 0px 10px 10px 0px;
  margin-bottom: 20px;
  position: absolute;
  top: 10;
  left: 0;
}
.exercise-card {
  border: 1px solid rgba(0, 128, 128, 0.3);
  border-radius: 15px;
  padding: 20px;
  width: 267px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 128, 128, 0.1);
}

.exercise-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 128, 128, 0.3);
  cursor: pointer;
}

.exercise-image {
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
  /* border-radius: 50%; */
  object-fit: cover;
  /* border: 2px solid #008080; */
  /* box-shadow: 0px 5px 10px #008080; */
  border-radius: 50% 0px 0px 0px;
}

.exercise-name {
  font-size: 24px;
  margin-bottom: 20px;
  color: #008080;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-info {
  font-size: 15px;
  margin-bottom: 15px;
  color: #666;
}

.exercise-benefits {
  font-size: 14px;
  color: #28a745;
  text-align: left;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
}

.exercise-sets {
  margin-right: 10px;
  background-color: #f7cc4c;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.8;
  font-weight: 600;
}

.exercise-reps {
  background-color: #fdcc39;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}

.done-button-section {
  text-align: center;
  margin-top: 20px;
  display: flex; /* Use flexbox for alignment */
  align-items: center;
  justify-content: center; /* Center items vertically */
  gap: 10px;
}



/* Optional: Add a keyframe animation */

/* Styling for the button itself */
.done-button {
background-color: #28a745; /* Default button color */
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
transition: background-color 0.3s ease;
}

/* When the button is hovered */
.done-button:hover {
background-color: #0d5e1f;
}

/* Optional styling for disabled button */
.done-button:disabled {
background-color: white; /* Grey background when disabled */
cursor: not-allowed; /* Change cursor to not-allowed */
opacity: 0.7; 
color: #ccc;/* Make the button semi-transparent when disabled */
}

/* Styling for the Done text */
.done-text {
font-weight: bold; /* Bold for emphasis */
}

/* Styling for the small tick image */
.small-tick {
width: 40px; /* Adjust the width as needed */
height: 40px;
border: none;
border-radius: 100; /* Adjust the height as needed */
}
.delete-button {
background-color: transparent; /* No background color */
border: none; /* Remove border */
cursor: pointer; /* Pointer cursor on hover */
padding: 0; /* Remove padding */
margin: 0; /* Remove margin */
gap: 10px;/* Center horizontally */
width: 35px; /* Set a fixed width */
height: 35px; /* Set a fixed height */
transition: transform 0.2s; /* Smooth scaling effect */
}

.delete-button img {
width: 18px; /* Make the image fill the button */
height: 18px; /* Maintain the aspect ratio */
}

.timer {
font-size: 0.8rem; /* Adjust the font size as needed */
color: #FF5733; /* Change color to your preference */
font-weight: bold; /* Make it bold for emphasis */
margin-top: 0px; /* Space above the timer */
text-align: center; /* Center the text */
/* Semi-transparent background */
/* Rounded corners */
padding: 5px; /* Add some padding */
/* Border matching the text color */
}